@{
    ViewData["Title"] = "Product Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Product


<h1>Create</h1>
<hr />

<h2>Add a new product</h2>
<br />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name) 
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.OriginCountry)
    @Html.TextBoxFor(model => model.OriginCountry)

    @Html.LabelFor(model => model.Cost)
    @Html.TextBoxFor(model => model.Cost)

    @Html.LabelFor(model => model.SectionId)
    @Html.DropDownList("SectionId")

    <br /><br /><p><input type="submit" value="Add new product" class="btn btn-default"/></p>
}
<br />
</p><button class="btn btn-default">@Html.ActionLink("Back to product list", "Index")</button><br />
