@{
    ViewData["Title"] = "Product Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Product

<h2>Edit</h2>
<hr />
<h4>Edit this product: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.OriginCountry)
    @Html.EditorFor(model => model.OriginCountry)

    @Html.LabelFor(model => model.Cost)
    @Html.EditorFor(model => model.Cost)

    @Html.LabelFor(model => model.SectionId)
    @Html.DropDownList("SectionId")

    <input type="submit" value="Save" class="btn btn-default"/>
}
<p>@Html.ActionLink("Back to product list", "Index")</p>
