@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKingdom.Models.Product>


<h1> Products List </h1>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model =>model.Section)
        </th>
        <th></th>
    </tr>

    @foreach (var listProject in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelProduct => listProject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelProduct => listProject.OriginCountry)
            </td>
            <td>
                $@Html.DisplayFor(modelProduct => listProject.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelProduct => listProject.Section.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = listProject.ProductId })
            </td>
        </tr>
    }
</table>

<div class="col-xs-4">
    <button class="btn btn-default">@Html.ActionLink("Add new product", "Create")</button>
</div>
<div class="col-xs-4">
    <button class="btn btn-default">@Html.ActionLink("View all sections", "Index", "Sections")</button><br />
</div>
<div class="col-xs-4">
    <button class="btn btn-default">@Html.ActionLink("HomePage", "Index", "Home")</button><br />
</div><br /><br />
<p> </p>


